@{
    ViewBag.Title = "Home Page";
    ViewBag.Module = "moviesApp";
}


<div class="jumbotron">
    <h1>Getting Started With Angular JS</h1>
    <p class="lead">Building Movie Review App in 2 Hours</p>
    <p><a href="http://myview.rahulnivi.net" class="btn btn-primary btn-large">My View &raquo;</a></p>
</div>

@section scripts
{
    <!-- Library Scripts -->

    @*<script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-ui-router.js"></script>*@
    @*<script src="~/Scripts/angular-route.js"></script>*@
    @*<script src="~/Scripts/angular-resource.js"></script>*@

    <!--App Scripts-->
    <script src="~/data/data.js"></script>
    <script src="~/common/common.services.js"></script>
    <script src="~/common/movieService.js"></script>
    <script src="~/app/home/moviesCtrl.js"></script>

}

@*<div ng-view=""></div>*@
<div ui-view></div>
